<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logOut()">
        <ion-icon slot="start" name="log-out" style="width: 23px;height: 30px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 30%;font-weight: bold;" >Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 7%;margin-left: 35%;margin-bottom:2%;">
    <h4>Symptoms</h4>
  </div>
  <div *ngFor="let symptom of symptoms; let i = index">
    <ion-item>
      <ion-label text-wrap style="margin-right:10px">
        <h2 style="font-size: 16px;font-family: Poppins">
            {{symptom.name}}
        </h2>
        <p style="font-size: 14px;font-family: Poppins;color:#0cd1e8;">{{symptom.choice_id}}</p>
    </ion-label>
    </ion-item>
  </div>

</ion-content>
