<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logOut()">
        <ion-icon slot="start" name="log-out" style="width: 23px;height: 30px;" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 30%;font-weight: bold;">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!allowed" style="margin-top: 10%;margin-left: 25%;">
    <h4>Your account require some additional information.</h4>
    <h4>Please go to settings and save information.</h4>
  </div>
  <div *ngIf="allowed" style="margin-top: 10%;margin-left: 25%;">
    <h4>Record your speech</h4>
  </div>
  <div *ngIf="allowed">
    <ion-button color="tertiary" style="margin-top: 10%;margin-left: 40%;" (click)="start()">
      <ion-icon size="large" name="arrow-dropright-circle"></ion-icon>

    </ion-button>
  </div>
  <div  *ngFor="let message of messages | async">
    <div *ngIf="message.sentBy === 'user' && allowed">
      <div class="bubble you">
        {{ message.content }}
      </div>
    </div>
    <div style="clear:both"></div>
    <div *ngIf="message.sentBy === 'bot' && allowed">
      <div class="bubble me">
        {{ message.content }}
      </div>
    </div>
    <div style="clear:both"></div>
  </div>


</ion-content>
<ion-footer *ngIf="allowed">
  <ion-item>
      <ion-input [(ngModel)]="formValue" clearInput placeholder="Write your message"></ion-input>
    <ion-button  (click)="sendMessage()" slot="end" style="width: 40px;height: 30px;" >
      <ion-icon name="send" size="large"></ion-icon>
    </ion-button> 
  </ion-item>
</ion-footer>
